
    .card {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin: 2rem;
        padding: 0.5rem;
        border: 0.3rem solid;
        border-radius: 0.5rem;
        background-color: white;
    }

    .buttonsDiv{
        display: flex;
        justify-content: space-between;
    }
    
    .btnCard{
        width: 4rem;
        background-color: #bfde42;
        border-radius: 2rem;
        border: 0.3rem solid;
        font-size: 1.1rem;
        padding: 0rem;
        font-weight: bolder;
    
    }

    .btnCardFav{
        width: 4rem;
        background-color:#bfde42;
        border-radius: 2rem;
        border: 0.3rem solid #41b4c9;
        font-size: 1.1rem;
        padding: 0rem ;
        background-clip: padding-box;
        font-weight: bolder;
    
    }
    
    .h2 {
        padding: 0;
        margin: 0;
        border-bottom: solid;
    }
    
    
    .h2Name{
        margin-top: 1rem;
        /* border: 0.3rem solid; */
        border-radius: 0.4rem;
        font-size: 2rem;
        font-family: 'get_schwifty';
        text-shadow: 2px 2px #41b4c9;
    }

    .h2Number{
        margin-top: 0rem;
        /* border: 0.3rem solid; */
        border-radius: 0.4rem;
        font-size: 2rem;
        font-family: 'get_schwifty';
        text-shadow: 2px 2px #41b4c9;
        text-align: end;
    }
    
    .Img{
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.2rem;
        padding: 0.3rem;
        background: #41b4c9;
        background-clip: padding-box;
    
    }