.h1{
    font-size: 5rem;
    /* color: #41b4c9; */
    color: #bfde42;
    /* text-shadow: 4px 4px #bfde42; */
    text-shadow: 4px 4px black;
}

.h2{
    font-size: 3rem;
    /* color: #41b4c9; */
    color: #bfde42;
    /* text-shadow: 4px 4px #bfde42; */
    text-shadow: 4px 4px black;
    padding-bottom: 1rem;
}

.pAbout{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* flex-wrap: nowrap; */
    width: 60vw;
    align-items: flex-start;
    padding: 2rem ;
    background-color: white;
    margin: 3rem 2rem;
    border-radius: 1rem;
    border: solid 0.5rem;
    text-align: justify;
    font-size: 1.5rem;
}


.section{
    display: flex;
    width: 70vw;
    justify-content: center;
    padding: rem;
}
 
.divAbout{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem ;
    background-color: white;
    margin: 3rem 2rem;
    border-radius: 1rem;
    border: solid 0.5rem;
}

.pAboutMe{
    font-size: 2rem;
}

.imgAbout{
    width: 30%;
    border: solid 0.3rem;
}