/* color: #41b4c9; */

.h1{
    font-size: 5rem;
    margin: 2rem;
    color: #bfde42;
    text-shadow: 4px 4px black;
    font-family: 'get_schwifty' ;
}

.h2{
    font-size: 4rem;
    color: #bfde42;
    text-shadow: 4px 4px black;
    padding-bottom: 1rem;
    font-family: 'get_schwifty' ;
    text-align: center;
}

.pAbout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 60vw;
    align-items: flex-start;
    padding: 2rem ;
    background-color: white;
    margin: 4rem ;
    border-radius: 1rem;
    border: solid 0.5rem;
    text-align: justify;
    font-size: 1.5rem;
    
}


.section{
    display: flex;
    width: 70vw;
    justify-content: center;
    padding-bottom: 3rem;
}
 
.divAbout{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 2rem ;
    background-color: white;
    margin: 3rem 2rem;
    border-radius: 1rem;
    border: solid 0.5rem;
}

.divLogos{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
}

.pAboutMe{
    font-size: 2rem;
}

.imgAbout{
    width: 40%;
    padding: 0%;
    border: solid 0.3rem;
    
}